ENTRA_TENANT_ID=common
ENTRA_AUDIENCE=api://local
ADMIN_GROUP_ID=
VITE_ENTRA_TENANT_ID=common
VITE_ENTRA_CLIENT_ID=local
VITE_ENTRA_AUDIENCE=api://local
DB_HOST=postgres
DB_PORT=5432
DB_NAME=quiz
DB_USER=quizadmin
DB_PASSWORD=quizpassword
DB_SSLMODE=disable
APPINSIGHTS_CONNECTION_STRING=
