AUTH_DISABLED=true
ENTRA_TENANT_ID=common
ENTRA_CLIENT_ID=local
ENTRA_AUDIENCE=api://local
ADMIN_GROUP_ID=
DB_HOST=postgres
DB_PORT=5432
DB_NAME=quiz
DB_USER=quizadmin
DB_PASSWORD=quizpassword
DB_SSLMODE=disable
APPINSIGHTS_CONNECTION_STRING=
